@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --background-secondary: #1a1a1b;
  --text-primary: #d7dadc; /* text color */
  --text-secondary: #9197ae;
}
